@font-montserrat: 'Montserrat', sans-serif;

@white: #ffffff;
@black: #000000;
@gray: #333333;

@primary: '';

// Components
@border-light: #eee;
@border-dark: #ddd;

// Shadows
@mighty-shadows: 0 1px 3px rgba(128, 128, 128, 0.2);
@deep-fog: 0 3px 20px 0 rgba(128, 128, 128, 0.2);
