.SnackBar {
  z-index: 3000;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #ffffff;
  transition: transform 0.2s, box-shadow 0.3s;
  padding: 15px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr max-content;
}
.SnackBar[data-open='true'] {
  transform: translateY(0px);
}
.SnackBar[data-open='false'] {
  transform: translateY(-100px);
}
